.popular-bg-container {
  background-color: #181818;
  min-height: 100vh;
}
.popular-movie-container {
  display: flex;
  justify-content: center;
}
.popular-movie-responsive {
  width: 85%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popular-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.popular-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.popular-failure-image {
  width: 233px;
  height: 172px;
}
@media screen and (min-width: 768px) {
  .popular-failure-image {
    width: 375px;
    height: 276px;
  }
}
.popular-movie-failure-description {
  color: #ffffff;
  font-family: 'Hanken Grotesk';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .popular-movie-failure-description {
    font-size: 24px;
    line-height: 31.27px;
  }
}
.popular-movie-retry-btn {
  color: #171f46;
  width: 107px;
  height: 40px;
  font-family: 'Hanken Grotesk';
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .popular-movie-retry-btn {
    width: 110px;
    height: 48px;
  }
}
